<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Muokkaa kirjan tietoja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<form th:object="${book}" th:action="@{/save}" action="#" method="post">

			<input type="hidden" id="id" th:field="*{id}"/>
			<label for="title">Kirjan nimi </label> 
			<input type="text" id="title" th:field="${book.title}" />
			<label for="author">Kirjailija </label> 
			<input type="text" id="author" th:field="${book.author}" />
				<p><label for="categories">Laji</label>
			 <select id="categories" th:field="*{category}">
       			<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    		</select></p>
			<input type="submit" value="Päivitä"></input>
		</form>

	</div>
</body>
</html>